<section>
  <div class="page-header">
    <h1>Folders</h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="folder in vm.folders"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="folder.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="folder.user" data-ng-bind="folder.user.displayName"></span>
        <span data-ng-if="!folder.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="folder.name"></h4>
      <a class="btn btn-primary"
       data-ui-sref="folders.edit({ folderId: folder._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <!--a class="btn btn-primary" data-ng-click="folder.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a-->
      <a class="btn btn-primary" data-ui-sref="folders.view({ folderId: folder._id })">
            <i class="glyphicon glyphicon-zoom-in"></i>
      </a>
      <a class="btn btn-primary" data-ui-sref="folders.create({ pId: folder._id })">
            <i class="glyphicon glyphicon-chevron-right"></i>
      </a>

    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.folders.$resolved && !vm.folders.length">
    No Folders yet, why don't you <a data-ui-sref="folders.create">create one</a>?
  </div>
</section>
