<section>
  <div class="page-header">
    <h1>Teams</h1>
  </div>
  <div class="list-group">
    <!--data-ui-sref="teams.view({ teamId: team._id })" -->
    <div data-ng-repeat="team in vm.teams"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="team.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="team.user" data-ng-bind="team.user.displayName"></span>
        <span data-ng-if="!team.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="team.name"></h4>
      <a class="btn btn-primary" data-ui-sref="teams.edit({ teamId: team._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" data-ui-sref="teams.view({ teamId: team._id })">
        <i class="glyphicon glyphicon-eye-open"></i>
      </a>

    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.teams.$resolved && !vm.teams.length">
    No Teams yet, why don't you <a data-ui-sref="teams.create">create one</a>?
  </div>
</section>
