<section>
  <div class="page-header">
    <h1>{{vm.xmen._id ? 'Edit Xmen' : 'New Xmen'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.xmenForm" class="form-horizontal" ng-submit="vm.save(vm.form.xmenForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.xmen.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.xmenForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Xmen name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="name">Super Power</label>
          <input name="superpower" type="text" ng-model="vm.xmen.superpower" id="superpower" class="form-control" placeholder="Super Power">
        </div>
        <div class="form-group">
          <label class="control-label" for="team_id">Team</label>

          <!-- select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select -->
          <!--select name="team" id="team" class="form-control"
            ng-model="vm.xmen.team.id" ng-options="team.name for team in vm.teams track by vm.xmen.team.id">
          </select-->

          <select name="team" id="team" class="form-control"
            ng-model="vm.xmen.team" ng-options="team.name for team in vm.teams track by team._id" value="{{vm.xmen.team._id}}">
          </select>

          <!--select name="team" id="team" class="form-control" ng-model="vm.xmen.team" value="{{vm.xmen.team._id}}>
            <option ng-repeat="team in vm.teams" value="{{team._id}}">{{team.name}}</option>
          </select-->

          <div ng-messages="vm.form.albumForm.artist.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Album artist is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.xmen._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
